@charset "UTF-8";

/* 레이아웃 */
#mNav {
    display: none;
    position: absolute;
    top: 10px;
    right: 14px;
}
#header {
    width: 100%;
    border-bottom: 1px solid #c6c6c6;
    /* height: 63px; -> 영역을 잡기 위한 값. */
    /* background-color: rgba(0,0,0,.1); */
}
#banner {position: relative;}

/* 가운데 영역 */
.container {
    position: relative;
    margin: 0 auto;
    width: 1280px;
    /* background-color: rgba(0,0,0,.1); */
}

/* 로우 영역 */
.row {padding: 0 28px;}

/* 모바일 메뉴 */
.ham {
    padding: 15px 10px 10px;
    display: block;
    width: 25px;
    height: 10px;
    /* background: rgba(0,0,0,.4); */
}

.ham span {
    position: relative;
    display: block;
    width: 25px;
    height: 4px;
    background: #39106a;
}

.ham span:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 25px;
    height: 4px;
    background: #39106a;
}

.ham span::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 25px;
    height: 4px;
    background: #39106a;
}

/* 헤더 영역 */
.header h1 {float: left;}
.header h1 em {
    display: inline-block;
    padding: 15px 8px 5px 0;
}
.header h1 em img {
    width: 155px;
}
.header h1 strong {
    position: absolute;
    top: 22px;
    left: 194px;
    display: block;
}
.header h1 strong img {width: 157px;}
.header .nav {float: right;}
.header .nav ul {border-left: 1px solid #c6c6c6;}
.header .nav li {
    float: left;
    width: 103px;
    text-align: center;
    border-right: 1px solid #c6c6c6;
}
.header .nav li a {
    padding: 19px 10px;
    display: block;
    font-size: 17px;
    font-weight: 700;
    color: #444444;
}

/* 배너 영역 */
.banner_menu {
    position: absolute;
    overflow: hidden;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
}
.banner_menu a {
    color: #ffffff;
    font-size: 16px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.banner_menu a:hover {color: #c1c1c1;}
.banner_menu .bm_left {float: left;}
.banner_menu .bm_left ul {padding-top: 1px;}
.banner_menu .bm_left li {
    position: relative;
    display: inline;
    margin-right: 30px;
}
.banner_menu .bm_left li.total {margin-right: 20px;}
.banner_menu .bm_left li.total a {
    display: inline-block;
    padding: 3px 10px;
    font-size: 14px;
    border: 1px solid #ffffff;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.banner_menu .bm_left li.total a:hover {
    background: #ffffff;
    color: #000;
    border-color: #000;
}
.banner_menu .bm_left li.total a i {padding-right: 6px;}

.banner_menu .bm_right {
    overflow: hidden;
    float: right;
}
.banner_menu .bm_right ul {
    position: relative;
    float: left;
}
.banner_menu .bm_right ul:first-child {padding-top: 6px;}
.banner_menu .bm_right li {
    position: relative;
    display: inline;
    margin-right: 20px;
    text-align: center;
}
.banner_menu .bm_right li.line {margin-right: 30px;}
.banner_menu .bm_right li.white {margin-right: 10px;}
.banner_menu .bm_right li.white a {
    display: inline-block;
    padding: 7px 25px 9px;
    width: 80px;
    background-color: #fff;
    color: #3a0e6a;
    border: 1px solid #ffffff;
}
.banner_menu .bm_right li.purple {margin-right: 0;}
.banner_menu .bm_right li.purple a {
    display: inline-block;
    padding: 7px 25px 9px;
    width: 80px;
    background-color: #3a0e6a;
    color: #ffffff;
    border: 1px solid #6e40c4;
}

.banner_menu li.line::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -18px;
    width: 1px;
    height: 14px;
    background-color: #ffffff;
}

/* 배너 이미지 슬라이드(swiper) */
.slider {
    width: 100%;
    height: 600px;
}
.swiper-slide h2 {
    position: relative;
    display: inline-block;
    margin-top: 200px;
    font-size: 62px;
    line-height: 70px;
    color: #ffffff;
}
.swiper-slide h2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -38px;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255, .3);
}
.swiper-slide h2 em {
    display: block;
    font-size: 59px;
    font-weight: 100;
}
.swiper-slide p {
    padding-top: 55px;
    font-size: 27px;
    color: #ffffff;
}

.slider .s_img1 {
    background: url(../img/swiper01.jpg) no-repeat center center;
    background-size: cover;
}
.slider .s_img2 {
    background: url(../img/main_slider02_2000.jpg) no-repeat center center;
    background-size: cover;
}
.slider .s_img3 {
    background: url(../img/main_slider03_2000.jpg) no-repeat center center;
    background-size: cover;
}

/* 무비 */
.movie {padding: 100px 0;}

.movie_tilte {margin-bottom: 60px;}
.movie_tilte ul {
    overflow: hidden;
    margin: 0 auto;
    width: 848px;
}
.movie_tilte li {
    margin-right: -1px;
    float: left;
    width: 210px;
    text-align: center;
    border: 1px solid #c4c4c4;
}
.movie_tilte li a {
    display: block;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 700;
    color: #666666;
}
.movie_tilte li.active a {
    background-color: #666;
    color: #fff;
}

.movie_chart {height: 592px;} 
.movie_chart .chart_cont1 {overflow: hidden;}

.movie_chart .poster_box {
    float: left;
    margin-right: 18px;
    width: 292px;
    height: 592px;
}
.movie_chart .poster_box:last-child {margin-right: 0;}

.poster_box .poster {position: relative;}
.poster_box .poster figure img {display: block;}
.poster_box .poster .rank {
    position: absolute;
    top: 17px;
    left: 0;
    width: 50px;
    height: 50px;
    font-size: 22px;
    line-height: 50px;
    background-color: #38116a;
    text-align: center;
    box-shadow: 3px 3px 8px rgba(0,0,0,.5);
}
.poster_box .poster .rank strong {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

.poster_box .poster .mx {
    position: absolute;
    top: 17px;
    right: 17px;
}
.poster_box .poster .mx span {
    display: block;
    width: 103px;
    height: 25px;
}
.poster_box .poster .mx .m {background-position: 0 -75px;}
.poster_box .poster .mx .b {background-position: 0 -100px;}

.poster_box .info {
    padding: 17px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
}
.poster_box .info h3 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
}
.poster_box .info h3 span {
    display: inline-block;
    margin-top: 9px;
    margin-right: 3px;
    width: 29px;
    height: 29px;
    vertical-align: -2px;
}
.poster_box .info h3 span.all {background-position: -88px -125px;}
.poster_box .info h3 span.a12 {background-position: 0px -125px;}
.poster_box .info h3 span.a15 {background-position: -29px -125px;}
.poster_box .info h3 span.a19 {background-position: -58px -125px;}

.poster_box .info .info_btn a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #f4f4f4;
}



/* 미디어 쿼리 */
    @media (max-width: 1290px) {
        .container {width: 100%;}
        /* //공통 */

        .header .nav li {width: 90px;}
        .header .nav li a {padding: 17px 10px; font-size: 15px;}
        .header h1 em {padding: 11px 8px 5px 0;}
        .header h1 strong {top: 19px;}
        /* //header */

        .swiper-button-next:after, .swiper-button-prev:after {display: none;}
        /* // swiper */
    }

    @media (max-width: 1024px) {
        .row {padding: 0 24px;}
        /* // 공통 */

        #mNav {display: block;}
        .nav {display: none;}
        /* //nav */

        .header h1 {float: none; text-align: center;}
        .header h1 strong {left: 24px;}
        /* header */

        .banner_menu .bm_left ul {display: none;}
        .banner_menu .bm_right ul:first-child {display: none;}
        /* // banner */

    }

    @media (max-width: 960px) {
        .banner_menu {overflow: initial;}
        .banner_menu .bm_right {overflow: initial; float: none;}
        .banner_menu .bm_right ul {
            position: absolute;
            top: 330px;
            float: none;
        }
        .banner_menu .bm_right li.white a {padding: 7px 20px 9px;}
        .banner_menu .bm_right li.purple a {padding: 7px 20px 9px;}
        /* //banner */

        .slider {height: 500px;}
        .swiper-slide h2 {
            margin-top: 170px;
            font-size: 37px;
            line-height: 45px;
        }
        .swiper-slide h2 em {font-size: 37px;}
        .swiper-slide h2:after {bottom: -13px;}
        .swiper-slide p {
            font-size: 16px;
            padding-top: 35px;
        }
        /* //swiper */
    }

    @media (max-width: 768px) {
        .row {padding: 0 16px;}
        /* // 공통 */

        #mNav {right: 6px;}
        /* nav */

        .header h1 strong {display: none;}
        .header h1 {text-align: left;}
        /* // header */
        
    }

    @media (max-width: 600px) {
        .banner_menu {overflow: initial;}
        .banner_menu .bm_right {overflow: initial; float: none;}
        .banner_menu .bm_right ul {
            position: absolute;
            top: 250px;
            float: none;
        }
        .banner_menu .bm_right li.white a {
            font-size: 14px;
            padding: 4px 5px 5px;
            color: #ffffff;
            background-color: rgba(0,0,0,.6);
            border-color: #ffffff;
        }
        .banner_menu .bm_right li.purple a {
            font-size: 14px;
            padding: 4px 5px 5px;
            color: #ffffff;
            background-color: rgba(0,0,0,.6);
            border-color: #ffffff;
        }
        /* // banner */

        .slider {height: 400px;}
        .swiper-slide h2 {
            margin-top: 120px;
            font-size: 30px;
            line-height: 35px;
        }
        .swiper-slide h2 em {font-size: 30px;}
        .swiper-slide h2:after {bottom: -7px;}
        .swiper-slide p {
            font-size: 13px;
            padding-top: 30px;
        }
        /* // swiper */
    }

    @media (max-width: 480px) {
        
    }
    @media (max-width: 320px) {
    }
