@charset "UTF-8";

/* 레이아웃 */
#mNav {
    display: none;
    position: absolute;
    top: 10px;
    right: 14px;
}
#header {
    width: 100%;
    border-bottom: 1px solid #c6c6c6;
    /* height: 63px; -> 영역을 잡기 위한 값. */
    /* background-color: rgba(0,0,0,.1); */
}
#banner {position: relative;}

/* 가운데 영역 */
.container {
    position: relative;
    margin: 0 auto;
    width: 1280px;
    /* background-color: rgba(0,0,0,.1); */
}

/* 로우 영역 */
.row {padding: 0 28px;}

/* 모바일 메뉴 */
.ham {
    padding: 15px 10px 10px;
    display: block;
    width: 25px;
    height: 10px;
    /* background: rgba(0,0,0,.4); */
}

.ham span {
    position: relative;
    display: block;
    width: 25px;
    height: 4px;
    background: #39106a;
}

.ham span:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 25px;
    height: 4px;
    background: #39106a;
}

.ham span::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 25px;
    height: 4px;
    background: #39106a;
}

/* 헤더 영역 */
.header h1 {float: left;}
.header h1 em {
    display: inline-block;
    padding: 15px 8px 5px 0;
}
.header h1 em img {
    width: 155px;
}
.header h1 strong {
    position: absolute;
    top: 22px;
    left: 194px;
    display: block;
}
.header h1 strong img {width: 157px;}
.header .nav {float: right;}
.header .nav ul {border-left: 1px solid #c6c6c6;}
.header .nav li {
    float: left;
    width: 103px;
    text-align: center;
    border-right: 1px solid #c6c6c6;
}
.header .nav li a {
    padding: 19px 10px;
    display: block;
    font-size: 17px;
    font-weight: 700;
    color: #444444;
}

/* 배너 영역 */
.banner_menu {
    position: absolute;
    overflow: hidden;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
}
.banner_menu a {
    color: #ffffff;
    font-size: 16px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.banner_menu a:hover {color: #c1c1c1;}
.banner_menu .bm_left {float: left;}
.banner_menu .bm_left ul {padding-top: 5px;}
.banner_menu .bm_left li {
    position: relative;
    display: inline;
    margin-right: 30px;
}
.banner_menu .bm_left li.total {margin-right: 20px;}
.banner_menu .bm_left li.total a {
    display: inline-block;
    padding: 3px 10px;
    font-style: 14px;
    border: 1px solid #ffffff;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.banner_menu .bm_left li.total a:hover {
    background: #ffffff;
    color: #000;
    border-color: #000;
}

.banner_menu .bm_right {
    overflow: hidden;
    float: right;
}
.banner_menu .bm_right ul {
    position: relative;
    float: left;
}
.banner_menu .bm_right ul:first-child {padding-top: 6px;}
.banner_menu .bm_right li {
    position: relative;
    display: inline;
    margin-right: 20px;
    text-align: center;
}
.banner_menu .bm_right li.line {margin-right: 30px;}
.banner_menu .bm_right li.white {margin-right: 10px;}
.banner_menu .bm_right li.white a {
    display: inline-block;
    padding: 7px 30px 9px 30px;
    width: 80px;
    background-color: #fff;
    color: #3a0e6a;
    border: 1px solid #ffffff;
}
.banner_menu .bm_right li.purple {margin-right: 0;}
.banner_menu .bm_right li.purple a {
    display: inline-block;
    padding: 7px 30px 9px 30px;
    width: 80px;
    background-color: #3a0e6a;
    color: #ffffff;
    border: 1px solid #6e40c4;
}

.banner_menu li.line::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -18px;
    width: 1px;
    height: 14px;
    background-color: #ffffff;
}

/* 슬라이드 */
.slider {
    width: 100%;
    height: 600px;
}
.slider .s_img1 {
    background: url(../img/main_slider01_2000.jpg) no-repeat center center;
    background-size: cover;
}
.slider .s_img2 {
    background: url(../img/main_slider02_2000.jpg) no-repeat center center;
    background-size: cover;
}
.slider .s_img3 {
    background: url(../img/main_slider03_2000.jpg) no-repeat center center;
    background-size: cover;
}

/* 미디어 쿼리 */
    @media (max-width: 1290px) {
        .container {width: 100%;}
        .header .nav li {width: 90px;}
        .header .nav li a {padding: 17px 10px; font-size: 15px;}
        .header h1 em {padding: 11px 8px 5px 0;}
        .header h1 strong {top: 19px;}
    }
    @media (max-width: 1024px) {
        .row {padding: 0 24px;}
        #mNav {display: block;}
        .nav {display: none;}
        .header h1 {float: none; text-align: center;}
        .header h1 strong {left: 24px;}
    }
    @media (max-width: 960px) {
        
    }
    @media (max-width: 768px) {
        .row {padding: 0 16px;}
        #mNav {right: 6px;}
        .header h1 strong {display: none;}
        .header h1 {text-align: left;}
        
    }
    @media (max-width: 480px) {
        
    }
    @media (max-width: 320px) {
    }
